[project]
	description = ZoneMinder is a free, open source Closed-circuit television software application developed for Linux which supports IP, USB and Analog cameras.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunbin Kim (hibam)
[access "refs/for/refs/*"]
	read = group user/Hyunbin Kim (hibam)
	push = group user/Hyunbin Kim (hibam)
	label-Code-Review = -2..+2 group user/Hyunbin Kim (hibam)
	label-Verified = -1..+1 group user/Hyunbin Kim (hibam)
	rebase = group user/Hyunbin Kim (hibam)
	removeReviewer = group user/Hyunbin Kim (hibam)
	submit = group user/Hyunbin Kim (hibam)
[access "refs/heads/*"]
	read = group user/Hyunbin Kim (hibam)
	create = group user/Hyunbin Kim (hibam)
	push = +force group user/Hyunbin Kim (hibam)
	pushMerge = group user/Hyunbin Kim (hibam)
[access "refs/tags/*"]
	push = +force group user/Hyunbin Kim (hibam)
	pushTag = group user/Hyunbin Kim (hibam)
	pushSignedTag = group user/Hyunbin Kim (hibam)
